
//
// VARIABLES
//

// My color palette
// https://coolors.co/273043-9197ae-eff6ee-f02d3a-bf4342
$spaceCadet: #273043;
$coolGrey: #9197AE;
$mintCream: #EFF6EE;
$red: #BF4342;
$cadetBlue: #B2BCD2;
$cultured: #F2F4F8;
$honeydew: #E7F1E4;
$aliceBlue: #E5E9F0;

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}