---
layout: default
---

<!--<article class="page">-->

<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <!--    <style>-->
    <!--        img {-->
    <!--            border-radius: 8px;-->
    <!--        }-->
    <!--    </style>-->
</head>

<body>
    <!--  <h1>{{ page.title }}</h1>-->

    <!--<h1>About me</h1>-->
    <div class="flexbox-intro">

        <img class="profile-picture" src="images/brian.jpg" alt="Picture of Brian Wang">

        <div class="intro-bio">
            <p>
                Hi! My name is Brian, and I'm a robotics engineer at <a href="https://www.fleetrobotics.ai/">Fleet Robotics</a>, 
                where I'm developing localization and mapping software that will enable an autonomous climbing robot
                to traverse and clean ship hulls.
                Previously, I worked on perception and planning for autonomous aerial vehicles at <a href="https://www.draper.com/">Draper</a>.
            </p>

            <p>
                I completed my Ph.D. degree in 2022 in the Autonomous Systems Lab at Cornell University, where I
                was advised by <a href="https://campbell.mae.cornell.edu/">Professor Mark Campbell</a>.
                My research at Cornell focused on robotic perception and planning in uncertain and unstructured
                environments.
            </p>

            <div class="contact">
                <p>
                    Contact: bhw45 [at] cornell.edu
                </p>
                <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" target="_blank"><i
                        class="svg-icon linkedin"></i></a>
                <a href="https://github.com/{{ site.footer-links.github }}" target="_blank"><i
                        class="svg-icon github"></i></a>
                <a href="https://youtube.com/{{ site.footer-links.youtube }}" target="_blank"><i
                        class="svg-icon youtube"></i></a>
            </div>

        </div>
    </div>

    <!--<div class="flex-parent">-->
    <div class="container" id="recent-news">
        <h1>News</h1>
        <ul>
            <li>In January 2024, I joined Fleet Robotics as a Senior Sensor Fusion, Localization, and Mapping Engineer!
            </li>
        </ul>
    </div>

    <!--</div>-->

    <section class="research">
        <h1>Research</h1>

        <p align="center">[<a href="{{ site.baseurl }}/publications">Full publications list</a>]
            [<a href="https://scholar.google.com/citations?user=-ExLYw0AAAAJ&hl=e">Google scholar profile</a>]
            [<a href="https://www.youtube.com/channel/UC6-xa50pMUIA2ZTko57Btrw">YouTube channel</a>]</p>

        <div class="projects-row">
            <img src="images/tree_detection.gif">
            <div class="project-description">
                <h3>Pseudo-lidar 3-D Obstacle Detection</h3>
                <p>A pipeline for stereo camera-based 3-D object detection, using SLAM point cloud fusion to generate
                    detector training data.</p>
                <div class="citation"><b>Brian H. Wang</b>, Carlos Diaz-Ruiz, Jacopo Banfi, and Mark Campbell.
                    "Detecting and Mapping Trees in
                    Unstructured Environments with a Stereo Camera and Pseudo-Lidar." IEEE International Conference on
                    Robotics
                    and Automation (ICRA), 2021.</div>
                <p>
                    [<a href="https://arxiv.org/pdf/2103.15967.pdf">pdf</a>]
                    [<a href="https://github.com/brian-h-wang/pseudolidar-tree-detection">code</a>]
                    [<a href="https://www.youtube.com/watch?v=9kLyd6wyflE">video presentation</a>]</p>
            </div>
        </div>
        <div class="projects-row">
            <img src="images/ldls.gif">
            <div class="project-description">
                <h3>LDLS: Label Diffusion Lidar Segmentation</h3>
                <p>Lidar point cloud instance segmentation, using camera information to avoid any need for labeled 3-D
                    training data.</p>

                <div class="citation">
                    <b>Brian H. Wang</b>, Wei-Lun Chao, Yan Wang, Bharath Hariharan, Kilian Q Weinberger, and Mark
                    Campbell.
                    "LDLS: 3-D Object Segmentation Through Label Diffusion From 2-D Images." IEEE Robotics and
                    Automation
                    Letters (RA-L), 2019.
                </div>

                <p>
                    [<a href="https://arxiv.org/pdf/1910.13955.pdf">pdf</a>]
                    [<a href="https://github.com/brian-h-wang/LDLS">code</a>]
                </p>
            </div>
        </div>

    </section>

</body>
<!--</article>-->