---
layout: default
---

<!--<article class="page">-->
<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <!--    <style>-->
    <!--        img {-->
    <!--            border-radius: 8px;-->
    <!--        }-->
    <!--    </style>-->
</head>

<body>
<!--  <h1>{{ page.title }}</h1>-->

<!--<h1>About me</h1>-->
<div class="flex-parent">

    <img class="profile-picture" src="images/brian.jpg" alt="Picture of Brian Wang">

    <div class="intro-bio">
        <p>
            Hi! My name is Brian, and I'm a Ph.D. candidate in the Autonomous Systems Lab at Cornell University, advised by <a
                href="https://www.mae.cornell.edu/faculty-directory/mark-campbell">Professor Mark Campbell</a>.

            I research robotic perception and planning in uncertain and unstructured environments.
        </p>

        <div class="contact">
            <p>
                Contact: bhw45 [at] cornell.edu
            </p>
        </div>

    </div>
</div>

<!--<div class="flex-parent">-->
    <div class="container" id="recent-news">
        <h2>Recent News</h2>
        <ul>
            <li>Paper accepted to ICRA 2021! <a href="https://arxiv.org/abs/2103.15967">"Detecting and Mapping Trees in
                Unstructured Environments with a Stereo Camera and Pseudo-Lidar"</a>.
            </li>
            <li>I served as the Technical Chair for the third annual <a href="https://www.roboticsdebates.org/">Debates
                on the Future of
                Robotics Research</a>, held virtually as a workshop at ICRA 2021.
            </li>
        </ul>
    </div>

<!--</div>-->

<!--<section class="research">-->
<!--    <h2>Research</h2>-->
<!--    <table>-->
<!--        <tr>-->
<!--        <td>-->
<!--            <h3>Pseudo-lidar Obstacle Detection for Robotic Navigation</h3>-->
<!--            <p>The first pipeline for pseudo-lidar detection.</p>-->
<!--        </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>-->
<!--                <h3>LDLS: Label Diffusion Lidar Segmentation</h3>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->

<!--</section>-->

<section class="publications">
    <h2>Publications</h2>
    <ul>
        <li><b>Brian H. Wang</b>, Carlos Diaz-Ruiz, Jacopo Banfi, and Mark Campbell. "Detecting and Mapping Trees in
            Unstructured Environments with a Stereo Camera and Pseudo-Lidar." IEEE International Conference on Robotics
            and Automation (ICRA), 2021. [<a
                    href="https://arxiv.org/abs/2103.15967">pdf</a>] [<a
                    href="https://github.com/brian-h-wang/pseudolidar-tree-detection">code</a>]
        </li>
        <li><b>Brian H. Wang</b>, Wei-Lun Chao, Yan Wang, Bharath Hariharan, Kilian Q Weinberger, and Mark Campbell.
            "LDLS: 3-D Object Segmentation Through Label Diffusion From 2-D Images." IEEE Robotics and Automation
            Letters (RA-L), 2019. [<a
                    href="https://arxiv.org/pdf/1910.13955.pdf">pdf</a>] [<a
                    href="https://github.com/brian-h-wang/LDLS">code</a>]
        </li>
        <li>Yan Wang, Zihang Lai, Gao Huang, <b>Brian H. Wang</b>, Laurens van der Maaten, Mark Campbell, and Kilian Q.
            Weinberger. "Anytime Stereo Image Depth Estimation on Mobile Devices." IEEE International Conference on
            Robotics and Automation (ICRA), 2019. [<a href="https://arxiv.org/abs/1810.11408">pdf</a>]
        </li>
        <li><b>Brian H. Wang</b>, Yan Wang, Kilian Q. Weinberger, and Mark Campbell. "Deep Person Re-identification for
            Probabilistic Data Association in Multiple Pedestrian Tracking." Arxiv preprint. [<a
                    href="https://arxiv.org/abs/1810.08565">pdf</a>]
        </li>
        <li>Jake R. Gemerek, Silvia Ferrari, <b>Brian H. Wang</b>, and Mark Campbell. "Video-guided Camera Control for
            Target Tracking and Following." IFAC Conference on Cyber-Physical & Human Systems, 2018.
        </li>
    </ul>
</section>

</body>
<!--</article>-->
